html {
  font-size: 14px;
}

}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  overflow-y: hidden;
}

input {
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    height: 36px;
    padding-left: 6px;
}

label {
    padding-bottom: 2px;
}

input:focus {
    outline: none; 
}

.header-image {
    width: 50px;
    height: 50px;
}

.login-checkbox {
    border: 1px solid #334155;
}

.text-soft {
    color: #64748b;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }