@{
    ViewData["Title"] = "Login";
}

<div class="d-flex justify-content-center align-items-center flex-column vh-100">
    <div class="d-flex flex-column gap-2">
        <div class="text-center mb-4">
            <div>
                <h2>Welcome to Contract Monthly Claim Manager</h2>
            </div>
            <p class="text-soft">
                The Contract Monthly Claim System empowers academic staff to effortlessly submit, review, and
                approve monthly work claims.
            </p>
        </div>

        <!-- Login Form -->
        <form asp-controller="AcademicManager" asp-action="Login" method="post" class="d-flex flex-column w-100 gap-4">
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" required />
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" required />
            </div>

            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center gap-2">
                    <input type="checkbox" name="rememberMe" value="true" class="login-checkbox" />
                    <label>Remember me</label>
                </div>
                <div>
                    <a href="#">Forgot Password</a>
                </div>
            </div>

            <div class="mt-2 text-center">
                <button type="submit" class="btn btn-primary w-100 mb-2">Log in</button>
                <p>
                    Don’t have an account?
                    <a class="text-primary" asp-controller="Manager" asp-action="Register">Sign up</a>
                </p>
            </div>
        </form>
    </div>
</div>

