<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Contract_Monthly_Claim.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="mx-5 mt-4">
        <div class="flex align-items-center justify-content-center">
            <svg fill="#0D6EFD" height="50px" width="50px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-48.5 -48.5 582.00 582.00" xml:space="preserve" transform="rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(0,0), scale(1)"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="1.9400000000000002"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M314.042,90.965v-59.93H170.958v59.93H0v362.999h485V90.965H314.042z M200.958,61.035h83.083v29.93h-83.083V61.035z M455,120.965v89.5H30v-89.5H455z M222.5,240.465h40v29.5h-40V240.465z M30,423.965v-183.5h162.5v59.5h100v-59.5H455v183.5H30z"></path> </g> </g></svg>
            <a class="navbar-brand text-black" asp-area="" asp-controller="Home" asp-action="Index">Contract Monthly Claim</a>
        </div>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
