@{
    ViewData["Title"] = "Create Claim";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<div class="claim-container">
    <form method="post" action="/Claims/Create" enctype="multipart/form-data">
        <div class="my-3">
            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" class="form-control" placeholder="Holiday" required/>
        </div>
        <div class="my-3">
            <label for="amount">Time Worked (Hours)</label>
            <input type="number" id="amount" name="amount" class="form-control" placeholder="160" required/>
        </div>
        <div class="my-3">
            <label for="message">Additional Notes</label>
            <textarea id="message" name="message" class="form-control" placeholder="What's on your mind?"></textarea>
        </div>
        <div class="my-3">
            <label for="document">Upload Document</label>
            <input type="file" id="document" name="document" class="form-control-file" />
        </div>
        <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-submit">Submit</button>
        </div>
    </form>
</div>



