@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Create Claim";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

@{
    if (string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("UID")))
    {
        HttpContextAccessor.HttpContext.Response.Redirect("/");
        return;
    }

    int lecturerID = Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("UID"));
}
<div class="claim-container">
    <form method="post" action="/Claims/Create" enctype="multipart/form-data">
        <div class="my-3 d-none">
            <label for="LecturerId">Lecturer ID</label>
            <input type="number" id="LecturerId" name="LecturerId" class="form-control" value=@lecturerID readonly />
        </div>
        <div class="my-3 d-none">
            <label for="ClaimStatus">Claim Status</label>
            <input type="text" id="ClaimStatus" name="ClaimStatus" class="form-control" value="Pending" readonly />
        </div>
        <div class="my-3">
            <label for="HoursWorked">Time Worked (Hours)</label>
            <input type="number" id="HoursWorked" name="HoursWorked" class="form-control" placeholder="160" required />
        </div>
        <div class="my-3">
            <label for="TotalAmount">Hourly Rate</label>
            <input type="number" step="0.01" id="TotalAmount" name="TotalAmount" class="form-control" required />
        </div>
        <div class="my-3">
            <label for="message">Additional Notes</label>
            <textarea id="Description" name="Description" class="form-control" placeholder="What's on your mind?"></textarea>
        </div>
        <div class="my-3">
            <label for="document">Upload Document</label>
            <input type="file" id="Document" name="Document" accept=".txt,.pdf,.docx,.xlsx" class="form-control" />
        </div>
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-submit">Submit</button>
        </div>
    </form>
</div>




